<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<form action="student" method="GET">
    <input type="text" name="email" id="email">
    <button type="submit">Search</button>
</form>
<table class="table" style="text-align:center">
    <thead class="thead-light">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Email</th>
        <th scope="col">AcceptancePoint</th>
        <th scope="col">Group</th>
        <th scope="col"> </th>
    </tr>
    </thead>
    <tbody th:each="student: ${students}">
    <tr>
        <td th:text="${student.name}"></td>
        <td th:text="${student.surname}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.acceptancePoint}"></td>
        <td th:text="${student.group.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>